<app-menu-admin></app-menu-admin>
<div class="container-fluid pt-3">
  <div class="row">
    <!-- Parte Esquerda da Tela -->
    <div class="col-12 col-lg-9">
      <div class="card-info">
        <div class="row">
          <div class="col-12 col-md-8">
            <h1 class="titulo">Agende Consulta</h1>
            <h3 class="subtitulo"> Mais eficiência para agendar sua <span>Consulta</span> sem sair de sua casa.
              Chega de ficar enfrento filas enormes em hospitais, agora com a <span>Agende Consulta</span> a sua agenda de consulta fica até 3x mais rápido sem sair de casa.
              <br>
              Confira um resumo em nossas <span>Informações</span>
            </h3>
            <app-button class="iniciar" textButton="Iniciar" routerLink="/consulta"></app-button>
          </div>
          <div class="col-12 col-md-4">
            <img src="../../assets/3922314-removebg-preview.png" width="85%">
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <!-- CARD- ESQUERDA -->
        <div class="col-6">
          <div class="card-info">
            <div class="row">
              <div class="col-8">
                <p class="texto-card">Consultas cadastradas no sistema</p>
                <p class="numero-card">1.657</p>
              </div>
              <div class="col-4 text-center">
                <mat-progress-spinner class="example-margin mx-auto color-spinner" mode="determinate" [value]="spinnerValue"></mat-progress-spinner>
                <p class="info-spinner">1.657/2000</p>
              </div>
            </div>
          </div>
        </div>

        <!-- CARD- DIREITA -->
        <div class="col-6">
          <div class="card-info">
            <div class="row">
              <div class="col-8">
                <p class="texto-card">Total de Pacientes cadastrados</p>
                <p class="numero-card">2712</p>
                <p class="destaque-card"> + 158 adicionados no último mês</p>
              </div>
              <div class="col-4 text-center">
                <mat-progress-spinner class="example-margin mx-auto color-spinner" mode="determinate" [value]="spinnerValue"></mat-progress-spinner>
                <p class="info-spinner">2712</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Tabela de Usuários -->
      <div class="row mt-4">
        <div class="col-12">
          <div class="card-info">
            <h3 class="titulo">Última consulta cadastrada</h3>
            <hr class="hr">
            <div class="row">
              <div class="col-1">
                <mat-icon>account_circle</mat-icon>
              </div>
              <div class="col-4">
                <p class="texto-p"> João Victor </p>
              </div>
              <div class="col">
                <p class="texto-p"> Exame de sangue </p>
              </div>
              <div class="col">
                <p class="texto-p"> 02/06/2024 </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Parte Direita da Tela -->
    <div class="col-12 col-lg-3">
      <div class="card-info">
        <div class="container-perfil text-center">
          <img class="img-perfil" src="../../assets/admin-3d-illustration-icon-png.webp" width="30%">
          <li><mat-icon>location_on</mat-icon> São José do Rio Preto - SP</li>
          <br>
          <h4>Seja Bem-vindo Admin! </h4>
          <br>
        </div>
        <hr class="hr">
        <p class="texto-p">"Criada em 2024, a partir de um acordo de parceria com os Doutores João Victor e Nelson Henrique, a Agenda Consulta desenvolve soluções para pacientes, com foco na simplicidade e usabilidade de fazer uma consulta médica. Sempre atenta às alterações do cenário pessoal e alinhada às necessidades do mercado e expectativa de seus pacientes. a Agenda Consulta é sua maior parceira de consultas médicas."</p>
        <hr class="hr">

        <li><mat-icon>person</mat-icon>Gerencie Pacientes</li>
        <li><mat-icon>account_circle</mat-icon>Adicione Pacientes</li>
        <li><mat-icon>format_list_bulleted</mat-icon>Consulte cadastros</li>
        <li><mat-icon>delete</mat-icon>Exclua Consultas</li>
      </div>
    </div>
  </div>
</div>
