<nav class="sidemenu">
  <ul>
    <li>
      <img src="../../../assets/images-removebg-preview.png" width="100px" style="display: none;">
    </li>
    <li routerLink="/home"> <mat-icon>home</mat-icon>Home</li>
    <li>
      <mat-icon class="addUsuario" (click)="openModalCadastrarConsultasUsuario()">timer</mat-icon>
      Cadastrar Consultas
    </li>
    <li> <a href="https://conectvida.com.br/?gad_source=1&gclid=CjwKCAjwx-CyBhAqEiwAeOcTdedvCsTnFmxfp0iT1r-8F_LaLBwGhi0-K2f-9ZiZg1CBGRTTTN45WBoCqPkQAvD_BwE" target="_blank" style="text-decoration: none; color: inherit;"> <mat-icon>feed</mat-icon> Informações </a></li>
    <li routerLink="/login" class="Logout" (click)="logout()"><mat-icon>logout</mat-icon>Sair</li>
  </ul>
